@import url("https://fonts.googleapis.com/css27family-Quicksand:wgfrt@300:400;500;600;7005display-swap");

* {
margin: 0;
padding: 0;
font-family: "Quicksand";
color: #444;
box-sizing: border-box;
}

.content {
max-width: 600px;
margin: 40px auto; 
padding: 20px;
}